.collection-list {
  display: flex;
  flex-flow: column wrap;
  max-height: 55lvh;

  gap: 1rem;
  padding: 1rem;

  & > li {
    background: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    max-width: 20lvw;
    padding: 0.5rem;
    gap: 0.5rem;

    &[data-collected] {
      outline: 2px solid gold;
    }
  }
}

.width-hack {
  align-content: start;
  box-sizing: content-box;
}

div.category-picker-container {
  max-width: 100lvw;
  overflow-x: auto;
  position: fixed;
  bottom: 1rem;
}

fieldset.category-picker {
  margin-inline-end: 60px; /* for the menu */

  display: flex;
  flex-flow: column wrap;
  max-height: 35lvh;
  border: none;
  gap: 0.5rem;
  padding: 1rem;

  & > label {
    border-radius: 0.5rem;
    background: rgb(0, 0, 0, 0.6);
    color: rgb(255, 255, 255, 0.8);
    padding: 0.5rem;

    &:has(> input:checked) {
      outline: 2px solid white;
    }

    & > input {
      position: absolute;
      opacity: 0;
    }

    & > data {
      display: block;
    }

    &[data-complete] > data {
      color: gold;
    }
  }
}
