
.letters-container {
  --scale: 1;
  padding-block-start: 5rem;
  margin-inline: auto;
  width: max-content;
  height: calc(100px * var(--scale));
  box-sizing: content-box;
}

.letter > img {
  height: 100%;
}

.letter {
  display: inline-block;
  position: relative;

  animation: calc(10 * var(--rate)) ease-in-out calc(2 * var(--rate)) infinite alternate bob;

  &:nth-child(01) {
    height: 60%;
    --rate: 0.25s;
    &::before {
      background-image: url("../assets/birds/01.png");
      left: calc(-4px * var(--scale));
      top: calc(-28px * var(--scale));
    }
  }
  &:nth-child(02) {
    height: 75%;
    top: calc(15px * var(--scale));
    --rate: 0.15s;
    &::before {
      background-image: url("../assets/birds/02.png");
      top: calc(-10px * var(--scale));
      left: calc(-2px * var(--scale));
    }
  }
  &:nth-child(03) {
    height: 65%;
    top: calc(25px * var(--scale));
    --rate: 0.32s;
    &::before {
      background-image: url("../assets/birds/03.png");
      top: calc(-25px * var(--scale));
      left: calc(-28px * var(--scale));
    }
  }
  &:nth-child(04) {
    height: 90%;
    top: calc(25px * var(--scale));
    margin-inline: calc(20px * var(--scale)) calc(-10px * var(--scale));
    --rate: 0.17s;
    &::before {
      background-image: url("../assets/birds/04.png");
      top: calc(-24px * var(--scale));
      left: calc(19px * var(--scale));
    }
  }
  &:nth-child(05) {
    height: 55%;
    top: calc(25px * var(--scale));
    --rate: 0.21s;
    &::before {
      background-image: url("../assets/birds/05.png");
      top: calc(-28px * var(--scale));
      left: calc(-32px * var(--scale));
    }
  }
  &:nth-child(06) {
    height: 55%;
    top: calc(15px * var(--scale));
    margin-inline: calc(40px * var(--scale)) 0;
    --rate: 0.3s;
    &::before {
      background-image: url("../assets/birds/06.png");
      top: calc(-25px * var(--scale));
      left: calc(-9px * var(--scale));
    }
  }
  &:nth-child(07) {
    height: 55%;
    top: calc(15px * var(--scale));
    --rate: 0.14s;
    &::before {
      background-image: url("../assets/birds/07.png");
      top: calc(-27px * var(--scale));
      left: calc(4px * var(--scale));
    }
  }
  &:nth-child(08) {
    height: 90%;
    top: calc(40px * var(--scale));
    right: calc(10px * var(--scale));
    --rate: 0.22s;
    &::before {
      background-image: url("../assets/birds/08.png");
      top: calc(-19px * var(--scale));
      left: calc(13px * var(--scale));
    }
  }
  &:nth-child(09) {
    height: 85%;
    top: calc(10px * var(--scale));
    --rate: 0.25s;
    &::before {
      background-image: url("../assets/birds/09.png");
      top: calc(-28px * var(--scale));
      left: calc(31px * var(--scale));
    }
  }
  &:nth-child(10) {
    height: 75%;
    top: calc(15px * var(--scale));
    right: calc(10px * var(--scale));
    --rate: 0.18s;
    &::before {
      background-image: url("../assets/birds/10.png");
      top: calc(-22px * var(--scale));
      left: calc(-26px * var(--scale));
    }
  }
  &:nth-child(11) {
    height: 85%;
    top: calc(15px * var(--scale));
    --rate: 0.23s;
    &::before {
      background-image: url("../assets/birds/11.png");
      top: calc(-22px * var(--scale));
      left: calc(-26px * var(--scale));
    }
  }
}

.letter::before {
  background-size: cover;
  background-repeat: no-repeat;

  --width: calc(80px * var(--scale));
  --height: calc(var(--width) * 310 / 726);

  width: var(--width);
  height: var(--height);

  content: " ";
  display: block;
  position: absolute;
  z-index: 1;

  animation: var(--rate) steps(2, jump-none) 0s infinite alternate flap;
}

@keyframes flap {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: calc(-1 * var(--height));
  }
}

@keyframes bob {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 calc(15px * var(--scale));
  }
}
