ol.fans {
  padding: 1rem;
}

h2 {
  text-decoration: underline;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
}

dt::after {
  content: ':';  
}

.fan-img {
  position: absolute;
  width: 20lvh;
  bottom: 60px;
}

.cousin-icon {
  display: inline-block;
  margin-inline: 0.25rem;
  
  --width: 50px;
  --height: calc(var(--width) * 620 / 454);

  background-image: url("../assets/cousins.png");
  width: var(--width);
  height: var(--height);
  background-size: 1000% 400%;
  background-repeat: no-repeat;

  /* For some reason, Ace shows some slight sprite leakage if I use exactly 1/9 */
  background-position-x: calc(mod(var(--id), 10) * 11.125%);
  background-position-y: calc(round(down, var(--id) / 10) * 100% / 3);

  &:not([data-collected]) {
    filter: contrast(0) brightness(0) opacity(0.5);
  }
}
