h2 {
  font-size: 1.75rem;
  font-family: Seurat Pro B;
}

h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

dt::after {
  content: ':';  
}

.fan-img {
  position: absolute;
  width: 20lvh;
  bottom: 60px;
}

.present-icon,
.cousin-icon,
.sticker-icon {
  display: inline-block;
  margin-inline: 0.25rem;

  &:not([data-collected]) {
    filter: contrast(0) brightness(0) opacity(0.5);
  }

  & > img {
    display: block;
    height: 100%;
    width: auto;
  }
}

.present-icon {
  margin-top: 0.5em;
  width: 50px;
  height: 50px;
}

.cousin-icon {
  --width: 50px;
  --height: calc(var(--width) * 620 / 454);

  background-image: url("../assets/cousins.png");
  width: var(--width);
  height: var(--height);
  background-size: 1000% 400%;
  background-repeat: no-repeat;

  --grid-x: calc(mod(var(--id), 10));
  --grid-y: calc(round(down, var(--id) / 10));
  background-position-x: calc(-1 * var(--grid-x) * var(--width));
  background-position-y: calc(-1 * var(--grid-y) * var(--height));

  /*
   * Antialiasing plus fractional DPI scaling
   * can cause a bit of sprite sheet leakage.
   * This seems to help.
   */
  mask-composite: intersect;
  mask-image:
    linear-gradient(to bottom, transparent 1px, black 1px),
    linear-gradient(to right, transparent 1px, black 1px);
}

.sticker-icon {
  width: 40px;
  height: 40px;

  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 4px;
}
