figure.gauge {
  width: 100%;
  margin: 0;
  line-height: 1.5;

  .meter-container {
    position: relative;
  }

  meter {
    width: 100%;
    vertical-align: center;
  }
}

figcaption.marker {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 0;
  inset-inline-start: calc(100% * (var(--marker-pos) - var(--meter-min, 0)) / (var(--meter-max) - var(--meter-min, 0)));
  inset-block-end: 0;

  --marker-color: white;

  &:nth-last-of-type(5),
  &.saturn:nth-last-of-type(9),
  &.saturn:nth-last-of-type(10),
  &[data-rank="0"] {
    --marker-color: darkgreen;
  }
  &:nth-last-of-type(4),
  &.saturn:nth-last-of-type(7),
  &.saturn:nth-last-of-type(8),
  &[data-rank="1"] {
    --marker-color: dimgray;
  }
  &:nth-last-of-type(3),
  &.saturn:nth-last-of-type(5),
  &.saturn:nth-last-of-type(6),
  &[data-rank="2"] {
    --marker-color: sienna;
  }
  &:nth-last-of-type(2),
  &.saturn:nth-last-of-type(3),
  &.saturn:nth-last-of-type(4),
  &[data-rank="3"] {
    --marker-color: silver;
  }
  &:nth-last-of-type(1),
  &.saturn:nth-last-of-type(1),
  &.saturn:nth-last-of-type(2),
  &[data-rank="4"] {
    --marker-color: gold;
  }

  &.meteor {
    --marker-color: lightseagreen;
  }

  & > .marker-text {
    background: rgb(0, 0, 0, 0.75);
    border-radius: 0.5em;
    padding: 0.125em 0.25em;
    text-wrap: nowrap;
    user-select: none;
    z-index: 1;
  }

  &:not(:hover) > .marker-text {
    opacity: 0;
  }

  &::before {
    content: '';
    width: 0px;
    height: 1lh;
    border-inline: 2px solid var(--marker-color);
    border-radius: 5px;
  }

  &::after {
    height: 2lh;
    content: '';
    width: 30px;
    position: absolute;
  }
}
