* {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

:root {
  font-family: Segoe UI, sans-serif;
}

/*
:root {
  margin: 0;
}

body {
  margin: 0;
}

select-meadow {
  width: 100lvw;
  height: 100lvh;
  position: fixed;
  top: 0;
}
*/

:root {
  height: 100lvh;

  background-image: url('./assets/re-back.png'), url('./assets/sky.png'), url('./assets/sky2.png');
  background-size: auto 50lvh, auto 45lvh, auto 28lvh;
  background-repeat: repeat-x;
  background-position-y: bottom, top 20lvh, top;
}

body {
  margin: 0;
  height: 100%;
}

ol.missions {
  display: flex;
  gap: 1rem;
  width: max-content;

  & > li {
    background: rgb(255, 255, 255, 0.5);
    padding: 0.5rem;
    height: min-content;
  }
}

li {
  list-style: none;
}

li > label {
  font-weight: bold;
  font-size: 1.5rem;
}

li * {
  font-size: 1rem;
}

dt::after {
  content: ':';  
}

h2 {
  text-decoration: underline;
}
